<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MBnb: Make Booking</title>
</head>

<body>

  <h1>Hello from make booking (ejs rendered view!)</h1>
  <h2>Booking Form</h2>

  <form action="/homepage" method="GET">
    <label>From Date</label><br>
    <input type="text" name="fromDate">
    <br>
    <label>To Date</label><br>
    <input type="text" name="toDate">
    <br>
    <label>Number of Guests</label><br>
    <input type="text" name="guests">
    <br><br>
    <input type="submit" value="Submit">
  </form> 

</body>
</html>
