<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MBnb: view Requests</title>
  </head>

  <body>
    <h1>HELLO WORLD</h1>

  <%= sessionData.email %>
  <br>
  <%= sessionData.userId %>
  <br>

  <% bookings.forEach(function(element) { %>
    <%= element.listingId %>
  <% }) %>
  <br>
  <br>


  for( each booking) {
    if( booking.listing.hostId === sessionData.userId) {
      display the booking
    }
  }

  </body>
</html>
