body {
    font-family: Montserrat;
    width: auto;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    padding: 16px;
    padding-bottom: 45px;
}

.cancel {
    font-size: 80%;
    text-align: right;
    display: inline;
}

